body {
    margin: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
    font-size: 24px;
    font-weight: 600;
    flex-direction: column;
}

#clock {
    width: 200px;
    /* height: 70px; */
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}